<!--
  ~ Copyright header
  ~ The ultimate spring based webservice template project.
  ~ Author Peter Nagy <nagy.peter.home@gmail.com>
  -->

<p>
  This is a general purpose administrative GUI for our webservices.
</p>
<p>
  GUI Version 4.0.0
</p>
<p>
  Please note that Internet Explorer may not render this site correctly. E.g. icons are not always shown. Tested and compatible browsers:
</p>
<ul>
  <li>Chrome</li>
  <li>Firefox</li>
  <li>Edge</li>
</ul>
<hr>
<button type="button" class="btn btn-primary" (click)="onOk()">OK</button>

