HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Angular
node_modules
AdminGUI/dist

#Others
.gradle
build
out
polc
distributions
application-dev_private.properties
performance-tester/bin
template-auth-service-api/bin
template-auth-service/bin
template-eureka/bin
template-gateway/bin
template-scalable-service/bin
