/*
 * Copyright header
 * The ultimate spring based webservice template project.
 * Author Peter Nagy <nagy.peter.home@gmail.com>
 */


table {
  table-layout:fixed;
  width:100%;
}
td {
  overflow:hidden;
  word-wrap: break-word;
}
