<!--
  ~ Copyright header
  ~ The ultimate spring based webservice template project.
  ~ Author Peter Nagy <nagy.peter.home@gmail.com>
  -->

<nav class="navbar navbar-dark bg-dark mb-sm-3">
  <a class="navbar-brand" href="/">{{title}}
    <span class="badge badge-info">{{version}}</span>
    <span><img src="assets/sonar-quality-gate-passed.svg" style="margin-left: 10px"></span>
  </a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <!--
      <a class="nav-item nav-link" routerLink="/settings" routerLinkActive="active">Settings</a>
      <a class="nav-item nav-link" routerLink="/certificates" routerLinkActive="active">Certificates</a>
      <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span>Login</a>
      -->
    </div>
  </div>
  <form class="form-inline">
    <button *ngIf="globalService.isLoggedIn() !== true" type="button" class="btn btn-primary" routerLink="/login"><span class="oi oi-account-login"></span> Login</button>
    <span *ngIf="globalService.isLoggedIn() === true" class="text-light">Welcome {{globalService.getUserName()}}!</span>
    <button *ngIf="globalService.isLoggedIn() === true" type="button" class="btn btn-secondary" style="margin: 0 0 0 10px" (click)="onLogout()"><span class="oi oi-account-logout"></span> Logout</button>
    <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">About</a>
  </form>
</nav>

