/*
 * Copyright header
 * The ultimate spring based webservice template project.
 * Author Peter Nagy <nagy.peter.home@gmail.com>
 */

.list-group {
  max-height: 500px;
  overflow: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar; /* fucking IE! */
  -webkit-overflow-scrolling: touch;
}

.list-group-item {
  cursor: pointer;
}

.text-box {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.oi {
  width: 18px;
  height: 18px;
  right: 0px;
  margin-left: 10px;
  color: lightgray;
  vertical-align: middle;
}

.badge.badge-pill {
  vertical-align: middle;
}

.oi:hover {
  color: #007BFF;
}

.icon-box {
  white-space: nowrap;
  /*position: absolute;
  right: 10px;*/
}

